/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
	font-size: 62.5%;
	height: 100%;
	padding-top: 10%
}

body {
	font-size: 1.5em;
	/* currently ems cause chrome bug misinterpreting rems on body element */
	
	line-height: 1.6;
	font-weight: 400;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #222;
	height: 100%;
	width: 100%;
	margin-left: 0px;
}
