/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
- Animations
*/
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Slabo+27px);
.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 0px;
    box-sizing: border-box;
}

.column,
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}
/* For devices larger than 400px */

@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0;
    }
}
/* For devices larger than 550px */

@media (min-width: 550px) {
    .container {
        width: 80%;
    }
    .column,
    .columns {
        margin-left: 4%;
    }
    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }
    .one.column,
    .one.columns {
        width: 4.66666666667%;
    }
    .two.columns {
        width: 13.3333333333%;
    }
    .three.columns {
        width: 22%;
    }
    .four.columns {
        width: 30.6666666667%;
    }
    .five.columns {
        width: 39.3333333333%;
    }
    .six.columns {
        width: 48%;
    }
    .seven.columns {
        width: 56.6666666667%;
    }
    .eight.columns {
        width: 65.3333333333%;
    }
    .nine.columns {
        width: 74.0%;
    }
    .ten.columns {
        width: 82.6666666667%;
    }
    .eleven.columns {
        width: 91.3333333333%;
    }
    .twelve.columns {
        width: 100%;
        margin-left: 0;
    }
    .one-third.column {
        width: 30.6666666667%;
    }
    .two-thirds.column {
        width: 65.3333333333%;
    }
    .one-half.column {
        width: 48%;
    }
    /* Offsets */
    
    .offset-by-one.column,
    .offset-by-one.columns {
        margin-left: 8.66666666667%;
    }
    .offset-by-two.column,
    .offset-by-two.columns {
        margin-left: 17.3333333333%;
    }
    .offset-by-three.column,
    .offset-by-three.columns {
        margin-left: 26%;
    }
    .offset-by-four.column,
    .offset-by-four.columns {
        margin-left: 34.6666666667%;
    }
    .offset-by-five.column,
    .offset-by-five.columns {
        margin-left: 43.3333333333%;
    }
    .offset-by-six.column,
    .offset-by-six.columns {
        margin-left: 52%;
    }
    .offset-by-seven.column,
    .offset-by-seven.columns {
        margin-left: 60.6666666667%;
    }
    .offset-by-eight.column,
    .offset-by-eight.columns {
        margin-left: 69.3333333333%;
    }
    .offset-by-nine.column,
    .offset-by-nine.columns {
        margin-left: 78.0%;
    }
    .offset-by-ten.column,
    .offset-by-ten.columns {
        margin-left: 86.6666666667%;
    }
    .offset-by-eleven.column,
    .offset-by-eleven.columns {
        margin-left: 95.3333333333%;
    }
    .offset-by-one-third.column,
    .offset-by-one-third.columns {
        margin-left: 34.6666666667%;
    }
    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns {
        margin-left: 69.3333333333%;
    }
    .offset-by-one-half.column,
    .offset-by-one-half.columns {
        margin-left: 52%;
    }
}
/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-size: 1.5em;
    /* currently ems cause chrome bug misinterpreting rems on body element */
    
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
    height: 100%;
    width: 100%;
    margin-left: 0px;
}
/* Nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.nav {
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 0px solid rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 999;
}

.headroom {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all .2s ease-in-out;
}

.headroom--unpinned {
    top: -100px;
}

.headroom--pinned {
    top: 0;
}

#navLinks {
    width: 100%;
    margin-top: 20px;
}

.navLink {
    color: #999;
    font-size: 12px;
    text-transform: uppercase;
}

#navlist a {
    text-decoration: none;
    color: #999;
}

#navlist a:hover {
    text-decoration: none;
    color: #ad5555;
}

#navlist li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    font-weight: 700;
}

#navToggle {
    margin-left: 30px;
}
/* Base Divs
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html>body .contentBlock {
    height: auto;
}

.contentBlock {
    height: 100%;
    min-height: 100%;
    color:white;
}

.powerBlock {
    height: 40%;
    background-color: #f1f0eb;
    padding-top: 5%;
    color: #6a6869;
}

.aboutBlock {
    height: 100%;
    background-color: #f1f0eb;
    padding-top: 5%;
    color: #6a6869;
}

.minorBlock {
    background-color: #eeeeee;
    padding-top: 7%;
    height:100%;
}

#lookService {
    height: 300px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

#lookService.active {
    height: 400px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

#lookP {
    margin-top: 5%;
    opacity: 0;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

#lookP.active {
    margin-top: 5%;
    opacity: 1;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

#talkService {
    height: 300px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

#talkService.active {
    height: 400px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

#talkP {
    margin-top: 5%;
    opacity: 0;
    -webkit-transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -ms-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}

#talkP.active {
    margin-top: 5%;
    opacity: 1;
    -webkit-transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -ms-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}

#presenceService {
    height: 300px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

#presenceService.active {
    height: 400px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

#presenceP {
    margin-top: 5%;
    opacity: 0;
    -webkit-transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -ms-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}

#presenceP.active {
    margin-top: 5%;
    opacity: 1;
    -webkit-transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -ms-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}

.minorBlock h1 {
    font-family: 'Raleway', sans-serif;
    color: black;
    opacity: 1;
    font-weight: 100;
    font-size: 2em;
    padding-top: 5%;
}

.minorBlock p {
    color: #1a1a1a;
    font-size: 18px;
}

.bigText {
    font-size: 2em;
    font-weight: 300;
    line-height: auto;
}

#main {
    /*background-image: url(../images/main.jpg);
    background-size: cover;
    color: white;
    background-attachment: fixed;*/
    
    position: relative;
    overflow: hidden;
}

#main h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: white;
    opacity: 1;
    font-weight: 300;
    font-size: 7em;
    margin-bottom: -10px;
}

#main h2 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: black;
    opacity: 1;
    font-weight: 400;
    font-size: 4em;
    margin-bottom: -10px;
}

#main h3 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: black;
    opacity: 1;
    font-weight: 400;
    font-size: 2.5em;
}

.storyBlock h2 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: white;
    opacity: 1;
    font-weight: 200;
    font-size: 4em;
    margin-top: 12%;
}

.storyBlock h3{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: white;
    opacity: 1;
    font-weight: 200;
    font-size: 4em;
    margin-top: 12%;
}

#main p {
    font-weight: 700;
    font-size: 1.3em;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

#styleBlock {
    /*background: linear-gradient(270deg, #96ceb4, #ffeead, #ff6f69, #ffcc5c, #aad8b0);*/
    
    background-color: white;
    background-size: 800% 800%;
    -webkit-animation: AnimationName 60s ease infinite;
    -moz-animation: AnimationName 60s ease infinite;
    animation: AnimationName 60s ease infinite;
    color: #999;
    padding-top: 7%;
}

.storyBlock {
    color: white;
    height: 40%;
    width: 100%;
}

#storyBG1 {
    background-image: url(../images/BG.jpeg);
    z-index: -1;
    background-size: cover;
    background-attachment: fixed    
}

#storyBG2 {
    background-color: darkgrey;
    z-index: -1;
    background-size: cover;
    background-attachment: fixed
}

#storyBG3 {
    background-color: darkgrey;
    z-index: -1;
    background-size: cover;
    background-attachment: fixed
}

#events {
    margin-top: 80px;
}

#event1 {
    background-image: url(../images/Photo/photo1.jpeg);
}

#event2 {
    background-image: url(../images/Photo/photo2.jpeg);
}

.eventBlock {
    color: white;
    height: auto;
    width: 100%;
    z-index: -1;
    background-size: cover;
    background-attachment: fixed;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(77, 77, 77, 0.13);
    -moz-box-shadow: 0px 0px 24px 0px rgba(77, 77, 77, 0.13);
    box-shadow: 0px 0px 24px 0px rgba(77, 77, 77, 0.13);
}

.eventBlock:hover {
    -webkit-box-shadow: 0px 0px 19px 0px rgba(77, 77, 77, 0.19);
    -moz-box-shadow: 0px 0px 19px 0px rgba(77, 77, 77, 0.19);
    box-shadow: 0px 0px 19px 0px rgba(77, 77, 77, 0.19);
}

.eventHeader {
    height: auto;
    max-height: 150px;
    padding-top: 10%;
    -webkit-box-shadow: inset 0px 0px 24px 0px rgba(77, 77, 77, 0.29);
    -moz-box-shadow: inset 0px 0px 24px 0px rgba(77, 77, 77, 0.29);
    box-shadow: inset 0px 0px 24px 0px rgba(77, 77, 77, 0.29);
    background-size: cover;
    background-attachment: fixed;
}

.eventBody {
    margin-top: 20px;
    padding-top: 3%;
    height: 50%;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 1);
}

.eventBody p {
    font-family: 'Slabo 27px', serif;
    padding-right: 6%;
    padding-left: 6%;
    color: #1a1a1a;
    font-size: 1em;
}

.eventFooter {
    z-index: 999;
    height: 50px;
    overflow: hidden;
    background-color: #f8f8f8;
    -webkit-box-shadow: 0px -3px 19px 0px rgba(77, 77, 77, 0.10);
    -moz-box-shadow: 0px -3px 19px 0px rgba(77, 77, 77, 0.10);
    box-shadow: 0px -3px 19px 0px rgba(77, 77, 77, 0.10);
}

.eventDate,
.eventInfo {}

.eventDate {
    margin-top: 5%;
    font-family: 'Oswald', sans-serif;
    color: #454545;
    font-size: 20px;
}

.eventInfo {
    margin-top: 7%;
    color: #6c6c6c;
    font-size: 1.2em;
    text-align: center;
}

.serviceImage {
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition-property: filter;
    transition-duration: 2s;
    -webkit-transition: -webkit-filter 500ms linear
}

.serviceImage:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

.services {
    margin-top: 5%
}

.aboutImage {
    height: auto;
    width: 100%;
    margin-right: auto;
    align-content: center;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition-property: filter;
    transition-duration: 2s;
    -webkit-transition: -webkit-filter 500ms linear
}

.aboutImage:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300;
}

h1 {
    font-size: 4.0rem;
    line-height: 1.2;
    letter-spacing: -.1rem;
}

h2 {
    font-size: 7.6rem;
    line-height: 1.25;
    letter-spacing: -.1rem;
}

h3 {
    font-size: 3.0rem;
    line-height: 1.3;
    letter-spacing: -.1rem;
}

h4 {
    font-size: 2.4rem;
    line-height: 1.35;
    letter-spacing: -.08rem;
}

h5 {
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: -.05rem;
}

h6 {
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: 0;
}
/* Larger than phablet */

@media (min-width: 550px) {
    h1 {
        font-size: 5.0rem;
    }
    h2 {
        font-size: 4.2rem;
    }
    h3 {
        font-size: 3.6rem;
    }
    h4 {
        font-size: 3.0rem;
    }
    h5 {
        font-size: 2.4rem;
    }
    h6 {
        font-size: 1.5rem;
    }
}

p {
    margin-top: 0;
}
/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
    color: #1EAEDB;
}

a:hover {
    color: #0FA0CE;
}
/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    height: 40px;
    padding: 0 50px;
    color: #333;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: white;
    border-radius: 30px;
    border: 1px solid #fff;
    cursor: pointer;
    box-sizing: border-box;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color: #333;
    border-color: #fff;
    background-color: rgba(255, 255, 255, 0.4);
    outline: 0;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    color: #000;
    background-color: #ad5555;
    border-color: #ad5555;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    color: #000;
    background-color: #7f8c8d;
    border-color: #7f8c8d;
}

.button_base {
    margin: 0;
    border: 0;
    font-size: 18px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -100px;
    width: 200px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    cursor: default;
}

.button_base:hover {
    cursor: pointer;
}
/* ### ### ### 03 */

.b03_skewed_slide_in {
    overflow: hidden;
}

.b03_skewed_slide_in div {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
}

.b03_skewed_slide_in div:nth-child(1) {
    color: #000000;
    background-color: #ffffff;
}

.b03_skewed_slide_in div:nth-child(2) {
    background-color: #000000;
    width: 230px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform: translate(-250px, 0px) skewX(-30deg);
    -webkit-transform: translate(-250px, 0px) skewX(-30deg);
    -moz-transform: translate(-250px, 0px) skewX(-30deg);
}

.b03_skewed_slide_in div:nth-child(3) {
    color: #ffffff;
    left: -200px;
    transition: left 0.2s ease;
    -webkit-transition: left 0.2s ease;
    -moz-transition: left 0.2s ease;
}

.b03_skewed_slide_in:hover div:nth-child(2) {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transform: translate(-15px, 0px) skewX(-30deg);
    -webkit-transform: translate(-15px, 0px) skewX(-30deg);
    -moz-transform: translate(-15px, 0px) skewX(-30deg);
}

.b03_skewed_slide_in:hover div:nth-child(3) {
    left: 0px;
    transition: left 0.30000000000000004s ease;
    -webkit-transition: left 0.30000000000000004s ease;
    -moz-transition: left 0.30000000000000004s ease;
}
/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    height: 38px;
    padding: 6px 10px;
    /* The 6px vertically centers text on FF, ignored by Webkit */
    
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}
/* Removes awkward default styles on some inputs for iOS */

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border: 1px solid #33C3F0;
    outline: 0;
}

label,
legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
}

fieldset {
    padding: 0;
    border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
}

label > .label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal;
}
/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ul {
    list-style: circle inside;
}

ol {
    list-style: decimal inside;
}

ol,
ul {
    padding-left: 0;
    margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
}

li {
    margin-bottom: 1rem;
}
/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */

code {
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
}

pre > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
}
/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1;
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:last-child,
td:last-child {
    padding-right: 0;
}
/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

button,
.button {
    margin-bottom: 1rem;
    height: auto;
    width: auto;
    margin-left: 40%
}

input,
textarea,
select,
fieldset {
    margin-bottom: 1.5rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
    margin-bottom: 2.5rem;
}
/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.u-full-width {
    width: 100%;
    box-sizing: border-box;
}

.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box;
}

.u-pull-right {
    float: right;
}

.u-pull-left {
    float: left;
}
/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */

hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1;
}
/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Self Clearing Goodness */

.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both;
}
/* onHover Drinks Div
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#drinkDiv {
    height: 40%;
    width: 100%;
}

#drinkDiv .halfDrink {
    padding-top: 5%;
    height: 100%;
    float: left;
    text-align: center;
    -webkit-transition: width 900ms ease-in-out;
    -moz-transition: width 900ms ease-in-out;
    -ms-transition: width 900ms ease-in-out;
    -o-transition: width 900ms ease-in-out;
    transition: width 900ms ease-in-out;
    width: 50%;
}

#drinkDiv:hover .halfDrink {
    width: 45%;
}

#drinkDiv:hover .halfDrink:hover {
    width: 55%;
}

.halfDrink h1 {
    display: block;
    font-size: 40px;
    margin-top: 20px;
    line-height: 1;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.halfDrink.coffee {
    background-image: url(../images/coffee.jpg);
    background-size: cover;
    color: white;
}

.halfDrink.coffee h1 {
    color: black;
    font-weight: 300;
    font-size: 6em;
}

.halfDrink.tea {
    background-image: url(../images/tea.jpg);
    background-size: cover;
    color: black;
}

.halfDrink.tea h1 {
    color: white;
    font-size: 6em;
    font-weight: 300;
}
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
/* Larger than mobile */

@media (min-width: 400px) {}
/* Larger than phablet (also point when grid becomes active) */

@media (min-width: 550px) {}
/* Smaller than tablet */

@media (max-width: 750px) {
    #navlist li {
        display:block;
        width:100%;
        height:40px;
        background-color:#fff;
        list-style-type:none;
        padding-right:20px;
        font-weight:700;
        padding-top:15px;
        text-align:center;
        margin-top:-5px;
    }
}
/* Larger than tablet */

@media (min-width: 750px) {
    #navToggle {
        display: none;
    }
    /* Larger than desktop */
    
    @media (min-width: 1000px) {}
    /* Larger than Desktop HD */
    
    @media (min-width: 1200px) {}
    /*----Miggy---*/
    
    #quizButton {
        color: black;
    }
    #question1 {
        display: none;
    }
    #question2 {
        display: none;
    }
    #question3 {
        display: none;
    }
    #start {
        display: inherit;
    }
    #bg {
        background-image: url(../images/bg3.jpeg);
    }
    @-webkit-keyframes AnimationName {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
    @-moz-keyframes AnimationName {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
    @keyframes AnimationName {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
    #minorButton {
        margin-top: 0px;
        float: right;
    }
    .drinkLogo {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -30px;
    }
    #typeWriter {
        height: 15%;
        background-color: blue;
        width: ;
    }
    .footer {
        width: 100%;
        height: 5%;
        background: black;
    }

#bio {
    margin-top: 5%;
}

#aboutText {
    padding-top: 4%;
    font-size: 16px;
}



.title {
    padding-top: 30%;
}

#storyBG4 {
    background-color: darkgrey;
    z-index: -1;
    background-size: cover;
    background-attachment: fixed
}

#storyBG5 {
    background-color: darkgrey;
    z-index: -1;
    background-size: cover;
    background-attachment: fixed
}

.down {
    padding-top: 25%;
}
