/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
	font-size: 62.5%;
	height: 100%;
}

body {
	font-size: 1.5em;
	/* currently ems cause chrome bug misinterpreting rems on body element */
	
	line-height: 1.6;
	font-weight: 400;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #222;
	height: 100%;
	width: 100%;
	margin-left: 0px;
}
/* Nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.nav {
	width: 100%;
	height: 60px;
	background-color: rgba(255, 255, 255, 1);
	border-bottom: 0px solid rgba(0, 0, 0, 0.1);
	position: fixed;
	z-index: 999;
}

#navLinks {
	width: 100%;
	margin-top: 20px;
	text-align: right;
}

.navLink {
	color: #999;
	font-size: 14px;
	text-transform: uppercase;
}

#navlist a {
	text-decoration: none;
	color: #999;
}

#navlist a:hover {
	text-decoration: none;
	color: #ad5555;
}

#navlist li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
	font-weight: 700;
	color: red;
	font-size: 25px;
	text-transform: uppercase;
}

#navToggle {
	margin-left: 30px;
}
/* Base Divs
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html>body .contentBlock {
	height: auto;
}

.contentBlock {
	height: 100%;
	min-height: 100%;
	color: white;
}

.minorBlock {
	padding-top: 7%;
	height: 100%;
}

#main {
	position: relative;
	overflow: hidden;
}

#main h1 {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color: #B2423A;
	opacity: 1;
	font-weight: 700;
	font-size: 13em;
}

#main h2 {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color: #B2423A;
	opacity: 1;
	font-weight: 300;
	font-size: 7em;
}

#main h3 {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color: #B2423A;
	opacity: 1;
	font-weight: 100;
	font-size: 5em;
}

#main p {
	font-weight: 700;
	font-size: 1.3em;
}

.btn-miguel {
	color: black;
	background-color: white;
	border-color: #B2423A !important;
}

#about p {
	font-size: 24px;
}
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
/* Larger than mobile */

@media (min-width: 400px) {
	#main {
		margin-top: 50%;
	}
	#main h1 {
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		color: #B2423A;
		opacity: 1;
		font-weight: 700;
		font-size: 5em;
	}
	#main h2 {
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		color: #B2423A;
		opacity: 1;
		font-weight: 300;
		font-size: 3em;
	}
	#main h3 {
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		color: #B2423A;
		opacity: 1;
		font-weight: 100;
		font-size: 2.5em;
	}
	.title {
		margin-top: 25%;
	}
}
/* Larger than phablet (also point when grid becomes active) */

@media (min-width: 550px) {}
/* Smaller than tablet */

@media (max-width: 750px) {
	#navlist li {
		display: block;
		width: 100%;
		height: 40px;
		background-color: #fff;
		list-style-type: none;
		padding-right: 20px;
		font-weight: 700;
		padding-top: 15px;
		text-align: center;
		margin-top: -5px;
		font-size: 12px;
	}
}
/* Larger than tablet */

@media (min-width: 750px) {
	#navToggle {
		display: none;
	}
	#main {
		margin-top: 0%;
	}
	#main h1 {
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		color: #B2423A;
		opacity: 1;
		font-weight: 700;
		font-size: 13em;
	}
	#main h2 {
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		color: #B2423A;
		opacity: 1;
		font-weight: 300;
		font-size: 7em;
	}
	#main h3 {
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		color: #B2423A;
		opacity: 1;
		font-weight: 100;
		font-size: 5em;
	}
}
/* Larger than desktop */

@media (min-width: 1000px) {}
/* Larger than Desktop HD */

@media (min-width: 1200px) {}
/*----Miggy---*/

.down {
	padding-top: 25%;
}

.title {
	margin-top: 10%;
}

.image {
	z-index: -5;
}

.box {
	height: 560px;
}